<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<dict>
			<key>category_key</key>
			<string>gundem</string>
			<key>category_label</key>
			<string>Gündem</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>category_key</key>
			<string>spor</string>
			<key>category_label</key>
			<string>Spor</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>category_key</key>
			<string>teknoloji</string>
			<key>category_label</key>
			<string>Teknoloji</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>category_key</key>
			<string>ekonomi</string>
			<key>category_label</key>
			<string>Ekonomi</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>category_key</key>
			<string>saglik</string>
			<key>category_label</key>
			<string>Sağlık</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>category_key</key>
			<string>kultur_sanat</string>
			<key>category_label</key>
			<string>Kültür Sanat</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>category_key</key>
			<string>magazin</string>
			<key>category_label</key>
			<string>Magazin</string>
			<key>category_selected</key>
			<string>YES</string>
		</dict>
	</array>
	<key>rss_sources</key>
	<dict>
		<key>1__gundem__01__sozcu_guncel</key>
		<dict>
			<key>url</key>
			<string>http://sozcu.com.tr/rss.php</string>
			<key>name</key>
			<string>Sözcü</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__02__posta_haber_hatti</key>
		<dict>
			<key>url</key>
			<string>http://www.posta.com.tr/xml/rss/rss_1_0.xml</string>
			<key>name</key>
			<string>Posta</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__03__ensonhaber_guncel</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/gundem.xml</string>
			<key>name</key>
			<string>EnSonHaber</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__04__iha_gundem</key>
		<dict>
			<key>url</key>
			<string>http://www.iha.com.tr/rss.aspx?cid=8</string>
			<key>name</key>
			<string>İhlas Haber Ajansı</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__05__ntvmsnbc_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/3032091/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__06__hurriyet_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=1</string>
			<key>name</key>
			<string>Hürriyet</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__07__star_son_dakika</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/sondakika.xml</string>
			<key>name</key>
			<string>Star Son Dakika</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__08__haberturk_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://www.haberturk.com/rss</string>
			<key>name</key>
			<string>Habertürk</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__09__cnnturk_gundem</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/guncel.xml</string>
			<key>name</key>
			<string>CNNTürk</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__10__zaman_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://www.zaman.com.tr/anasayfa.rss</string>
			<key>name</key>
			<string>Zaman</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__11__trt_haber_haberler</key>
		<dict>
			<key>url</key>
			<string>http://www.trthaber.com/manset.rss</string>
			<key>name</key>
			<string>TRT Haber</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__12__vatan_gundem</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/gundem.xml</string>
			<key>name</key>
			<string>Vatan</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
        <key>1__gundem__13__haber7_sondakika</key>
		<dict>
			<key>url</key>
			<string>http://sondakika.haber7.com/sondakika.rss</string>
			<key>name</key>
			<string>Haber7</string>
			<key>category_key</key>
			<string>gundem</string>
		</dict>
		<key>1__gundem__14__posta_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.posta.com.tr/xml/rss/rss_8_0.xml</string>
			<key>name</key>
			<string>Posta Ekonomi</string>
			<key>category_key</key>
			<string>ekonomi</string>
		</dict>
		<key>1__gundem__15__cnnturk_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/ekonomi.xml</string>
			<key>name</key>
			<string>CNNTürk Ekonomi</string>
			<key>category_key</key>
			<string>ekonomi</string>
		</dict>
		<key>1__gundem__16__star_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/ekonomi.xml</string>
			<key>name</key>
			<string>Star Ekonomi</string>
			<key>category_key</key>
			<string>ekonomi</string>
		</dict>
		<key>1__gundem__17__ntvmsnbc_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/24927361/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC Ekonomi</string>
			<key>category_key</key>
			<string>ekonomi</string>
		</dict>
		<key>1__gundem__18__hurriyet_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=4</string>
			<key>name</key>
			<string>Hürriyet Ekonomi</string>
			<key>category_key</key>
			<string>ekonomi</string>
		</dict>
		<key>1__gundem__19__ensonhaber_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/ekonomi.xml</string>
			<key>name</key>
			<string>EnSonHaber Ekonomi</string>
			<key>category_key</key>
			<string>ekonomi</string>
		</dict>
		<key>2__spor__1__posta_spor</key>
		<dict>
			<key>url</key>
			<string>http://www.posta.com.tr/xml/rss/rss_7_0.xml</string>
			<key>name</key>
			<string>Posta Spor</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
		<key>2__spor__2__mackolik</key>
		<dict>
			<key>url</key>
			<string>http://www.mackolik.com/Rss</string>
			<key>name</key>
			<string>Mackolik.com</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
		<key>2__spor__3__cnnturk_spor</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/spor.xml</string>
			<key>name</key>
			<string>CNNTürk Spor</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
		<key>2__spor__4__hurriyet_spor</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=14</string>
			<key>name</key>
			<string>Hürriyet Spor</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
		<key>2__spor__5__vatan_spor</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/spor.xml</string>
			<key>name</key>
			<string>Vatan Spor</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
		<key>2__spor__6__sporx_son_haberler</key>
		<dict>
			<key>url</key>
			<string>http://www.sporx.com/_xml/rss.php</string>
			<key>name</key>
			<string>SPORX - Son Haberler</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
        <key>2__spor__7__ensonhaber_spor</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/spor.xml</string>
			<key>name</key>
			<string>EnSonHaber</string>
			<key>category_key</key>
			<string>spor</string>
		</dict>
		<key>3__teknoloji__1__posta_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://www.posta.com.tr/xml/rss/rss_269_0.xml</string>
			<key>name</key>
			<string>Posta Teknoloji</string>
			<key>category_key</key>
			<string>teknoloji</string>
		</dict>
		<key>3__teknoloji__2__ntvmsnbc_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/24927532/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC Teknoloji</string>
			<key>category_key</key>
			<string>teknoloji</string>
		</dict>
		<key>3__teknoloji__3__cnnturk_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/bilim.teknoloji.xml</string>
			<key>name</key>
			<string>CNNTürk Teknoloji</string>
			<key>category_key</key>
			<string>teknoloji</string>
		</dict>
		<key>3__teknoloji__4__vatan_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/teknoloji.xml</string>
			<key>name</key>
			<string>Vatan Teknoloji</string>
			<key>category_key</key>
			<string>teknoloji</string>
		</dict>
		<key>3__teknoloji__5__ensonhaber_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/teknoloji.xml</string>
			<key>name</key>
			<string>EnSonHaber Teknoloji</string>
			<key>category_key</key>
			<string>teknoloji</string>
		</dict>
		<key>4__saglik__1__cnnturk_kultur_sanat</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/kultur.sanat.xml</string>
			<key>name</key>
			<string>CNNTürk Kültür Sanat</string>
			<key>category_key</key>
			<string>kultur_sanat</string>
		</dict>
		<key>4__saglik__2__ensonhaber_kultur_sanat</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/kultur-sanat.xml</string>
			<key>name</key>
			<string>EnSonHaber Kültür Sanat</string>
			<key>category_key</key>
			<string>kultur_sanat</string>
		</dict>
		<key>5__saglik__1__posta_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.posta.com.tr/xml/rss/rss_9_0.xml</string>
			<key>name</key>
			<string>Posta Sağlık</string>
			<key>category_key</key>
			<string>saglik</string>
		</dict>
		<key>5__saglik__2__ntvmsnbc_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/24928008/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC Sağlık</string>
			<key>category_key</key>
			<string>saglik</string>
		</dict>
		<key>5__saglik__3__cnnturk_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/saglik.xml</string>
			<key>name</key>
			<string>CNNTürk Sağlık</string>
			<key>category_key</key>
			<string>saglik</string>
		</dict>
		<key>5__saglik__4__hurriyet_saglik</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=2208</string>
			<key>name</key>
			<string>Hürriyet Sağlık</string>
			<key>category_key</key>
			<string>saglik</string>
		</dict>
		<key>5__saglik__5__star_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/saglik.xml</string>
			<key>name</key>
			<string>Star Sağlık</string>
			<key>category_key</key>
			<string>saglik</string>
		</dict>
		<key>5__saglik__6__ensonhaber_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/saglik.xml</string>
			<key>name</key>
			<string>EnSonHaber Sağlık</string>
			<key>category_key</key>
			<string>saglik</string>
		</dict>
		<key>6__magazin__1__posta_magazin</key>
		<dict>
			<key>url</key>
			<string>http://www.posta.com.tr/xml/rss/rss_6_0.xml</string>
			<key>name</key>
			<string>Posta Magazin</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__2__star_magazin</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/magazin.xml</string>
			<key>name</key>
			<string>Star Magazin</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__3__hurriyet_magazin</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=2035</string>
			<key>name</key>
			<string>Hürriyet Magazin</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__4__vatan_magazin</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/magazin.xml</string>
			<key>name</key>
			<string>Vatan Magazin</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__5__magaxin_turkiyeden</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=13</string>
			<key>name</key>
			<string>Magaxin.Com - Türkiyeden</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__6__magaxin_dunyadan</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=10</string>
			<key>name</key>
			<string>Magaxin.Com - Dünyadan</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__7__magaxin_sinema_tv</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=6</string>
			<key>name</key>
			<string>Magaxin.Com - Sinema TV</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__8__magaxin_muzik_magazin</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=11</string>
			<key>name</key>
			<string>Magaxin.Com - Müzik Magazin</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
		<key>6__magazin__9__ensonhaber_magazin</key>
		<dict>
			<key>url</key>
			<string>http://www.ensonhaber.com/rss/magazin.xml</string>
			<key>name</key>
			<string>EnSonHaber Magazin</string>
			<key>category_key</key>
			<string>magazin</string>
		</dict>
	</dict>
</dict>
</plist>
