<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
        <dict>
            <key>gundem</key>
            <string>Gündem</string>
        </dict>
        <dict>
            <key>spor</key>
            <string>Spor</string>
        </dict>
        <dict>
            <key>teknoloji</key>
            <string>Teknoloji</string>
        </dict>
        <dict>
            <key>ekonomi</key>
            <string>Ekonomi</string>
        </dict>
        <dict>
            <key>saglik</key>
            <string>Sağlık</string>
        </dict>
        <dict>
            <key>kultur_sanat</key>
            <string>Kültür Sanat</string>
        </dict>
        <dict>
            <key>magazin</key>
            <string>Magazin</string>
        </dict>
    </array>
    
	<key>rss_sources</key>
	<dict>
		<key>1__gundem__01__aa_guncel</key>
		<dict>
			<key>url</key>
			<string>http://www.aa.com.tr/rss/ajansguncel.xml</string>
			<key>name</key>
			<string>Anadolu Ajansı</string>
		</dict>
		<key>1__gundem__02__iha_gundem</key>
		<dict>
			<key>url</key>
			<string>http://www.iha.com.tr/rss.aspx?cid=8</string>
			<key>name</key>
			<string>İhlas Haber Ajansı</string>
		</dict>
		<key>1__gundem__03__ntvmsnbc_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/3032091/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC</string>
		</dict>
		<key>1__gundem__04__hurriyet_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=1</string>
			<key>name</key>
			<string>Hürriyet</string>
		</dict>
		<key>1__gundem__05__star_son_dakika</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/sondakika.xml</string>
			<key>name</key>
			<string>Star Son Dakika</string>
		</dict>
		<key>1__gundem__06__haberturk_anasayfa</key>
		<dict>
			<key>url</key>
			<string>http://www.haberturk.com/rss</string>
			<key>name</key>
			<string>Habertürk</string>
		</dict>
		<key>1__gundem__07__cnnturk_gundem</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/guncel.xml</string>
			<key>name</key>
			<string>CNNTürk</string>
		</dict>
		<key>1__gundem__08__zaman_anasayfa</key>
		<dict>
			<key>name</key>
			<string>Zaman</string>
			<key>url</key>
			<string>http://www.zaman.com.tr/anasayfa.rss</string>
		</dict>
		<key>1__gundem__09__trt_haber_haberler</key>
		<dict>
			<key>url</key>
			<string>http://www.trthaber.com/manset.rss</string>
			<key>name</key>
			<string>TRT Haber</string>
		</dict>
		<key>1__gundem__10__vatan_gundem</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/gundem.xml</string>
			<key>name</key>
			<string>Vatan</string>
		</dict>
		<key>1__gundem__11__cnnturk_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/ekonomi.xml</string>
			<key>name</key>
			<string>CNNTürk Ekonomi</string>
		</dict>
		<key>1__gundem__12__star_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/ekonomi.xml</string>
			<key>name</key>
			<string>Star Ekonomi</string>
		</dict>
		<key>1__gundem__14__ntvmsnbc_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/24927361/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC Ekonomi</string>
		</dict>
		<key>1__gundem__15__hurriyet_ekonomi</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=4</string>
			<key>name</key>
			<string>Hürriyet Ekonomi</string>
		</dict>
		<key>2__spor__1__mackolik</key>
		<dict>
			<key>url</key>
			<string>http://www.mackolik.com/Rss</string>
			<key>name</key>
			<string>Mackolik.com</string>
		</dict>
		<key>2__spor__2__cnnturk_spor</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/spor.xml</string>
			<key>name</key>
			<string>CNNTürk Spor</string>
		</dict>
		<key>2__spor__3__hurriyet_spor</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=14</string>
			<key>name</key>
			<string>Hürriyet Spor</string>
		</dict>
		<key>2__spor__4__vatan_spor</key>
		<dict>
			<key>name</key>
			<string>Vatan Spor</string>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/spor.xml</string>
		</dict>
		<key>2__spor__5__sporx_son_haberler</key>
		<dict>
			<key>url</key>
			<string>http://www.sporx.com/_xml/rss.php</string>
			<key>name</key>
			<string>SPORX - Son Haberler</string>
		</dict>
		<key>3__teknoloji__1__ntvmsnbc_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/24927532/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC Teknoloji</string>
		</dict>
		<key>3__teknoloji__2__cnnturk_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/bilim.teknoloji.xml</string>
			<key>name</key>
			<string>CNNTürk Teknoloji</string>
		</dict>
		<key>3__teknoloji__2__vatan_teknoloji</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/teknoloji.xml</string>
			<key>name</key>
			<string>Vatan Teknoloji</string>
		</dict>
		<key>4__saglik__2__cnnturk_kultur_sanat</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/kultur.sanat.xml</string>
			<key>name</key>
			<string>CNNTürk Kültür Sanat</string>
		</dict>
		<key>4__saglik__3__ntvmsnbc_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.ntvmsnbc.com/id/24928008/device/rss/rss.xml</string>
			<key>name</key>
			<string>NTVMSNBC Sağlık</string>
		</dict>
		<key>4__saglik__4__cnnturk_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.cnnturk.com/servisler/rss/24/saglik.xml</string>
			<key>name</key>
			<string>CNNTürk Sağlık</string>
		</dict>
		<key>4__saglik__5__hurriyet_saglik</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=2208</string>
			<key>name</key>
			<string>Hürriyet Sağlık</string>
		</dict>
		<key>4__saglik__6__star_saglik</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/saglik.xml</string>
			<key>name</key>
			<string>Star Sağlık</string>
		</dict>
		<key>5__magazin__1__star_magazin</key>
		<dict>
			<key>url</key>
			<string>http://www.stargazete.com/rss/magazin.xml</string>
			<key>name</key>
			<string>Star Magazin</string>
		</dict>
		<key>5__magazin__2__hurriyet_magazin</key>
		<dict>
			<key>url</key>
			<string>http://rss.hurriyet.com.tr/rss.aspx?sectionId=2035</string>
			<key>name</key>
			<string>Hürriyet Magazin</string>
		</dict>
		<key>5__magazin__3__vatan_magazin</key>
		<dict>
			<key>url</key>
			<string>http://rss.gazetevatan.com/rss/magazin.xml</string>
			<key>name</key>
			<string>Vatan Magazin</string>
		</dict>
		<key>5__magazin__4__magaxin_turkiyeden</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=13</string>
			<key>name</key>
			<string>Magaxin.Com - Türkiyeden</string>
		</dict>
		<key>5__magazin__5__magaxin_dunyadan</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=10</string>
			<key>name</key>
			<string>Magaxin.Com - Dünyadan</string>
		</dict>
		<key>5__magazin__6__magaxin_sinema_tv</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=6</string>
			<key>name</key>
			<string>Magaxin.Com - Sinema TV</string>
		</dict>
		<key>5__magazin__7__magaxin_muzik_magazin</key>
		<dict>
			<key>url</key>
			<string>http://www.magaxin.com/feed.php?type=rss&amp;search_cid=11</string>
			<key>name</key>
			<string>Magaxin.Com - Müzik Magazin</string>
		</dict>
	</dict>
</dict>
</plist>
